<?xml version="1.0"?>
<launch>
  <rosparam
    file="$(find filburbot_control)/config/diff_drive_controller_params.yaml"
    command="load" />

  <node
    pkg="controller_manager"
    type="spawner"
    name="controller_spawner"
    output="screen"
    respawn="false"
    args="joint_state_controller diff_drive_controller"/>

  <!--<node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />-->

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
</launch>
