<?xml version="1.0"?>
<launch>
  <node
    pkg="joy"
    type="joy_node"
    name="joy_node">
      <param name="dev" value="/dev/input/js0" />
      <param name="deadzone" value="0.3" />
      <param name="autorepeat_rate" value="20" />
  </node>

  <node
    pkg="teleop_twist_joy"
    name="teleop_twist_joy"
    type="teleop_node">
    <rosparam command="load" file="$(find filburbot_bringup)/config/teleop_ds4.yaml" />
    <remap from="cmd_vel" to="/diff_drive_controller/cmd_vel" />
  </node>
</launch>
